@page
@model CreateModel
@{
    ViewData["Title"] = "Creează proiect";
}

<h1>Adaugă un nou proiect</h1>

<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div>
        <label asp-for="Project.Name">Nume</label>
        <input asp-for="Project.Name" type="text" />
        <span asp-validation-for="Project.Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Project.Edition">Ediție</label>
        <input asp-for="Project.Edition" type="text" />
        <span asp-validation-for="Project.Edition" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Logo">Logo</label>
        <input asp-for="Logo" type="file" accept="image/png, image/jpeg" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Trimite" />
    </div>
</form>
