@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Project.FullName;
}

<h1>@Model.Project.FullName</h1>
@if (Model.Project.LogoId != null)
{
    <div>
        <img src="~/Image/@Model.Project.LogoId" alt="Logo @Model.Project.FullName" />
    </div>
}
