@page "{id:int?}"
@model EditModel

@if (Model.Id == null)
{
    ViewData["Title"] = "Creează proiect";
    <h1>Adaugă un nou proiect</h1>
}
else
{
    ViewData["Title"] = "Editează proiect";
    <h1>Editează un proiect existent</h1>
}

<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="form-group">
        <label asp-for="Project.Name"></label>
        <input asp-for="Project.Name" type="text" class="form-control" />
        <span asp-validation-for="Project.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Project.Edition"></label>
        <input asp-for="Project.Edition" type="text" class="form-control" />
        <span asp-validation-for="Project.Edition" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Logo"></label>
        <input asp-for="Logo" type="file" accept="image/png, image/jpeg" class="form-control-file" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Trimite" />
    </div>
</form>
