@page
@model IndexModel
@{
    ViewData["Title"] = "Proiecte";
}

@section Styles {
    <link rel="stylesheet" href="~/css/card.css"/>
}

<h1>Proiecte</h1>

<div>
    <a asp-page="Edit">Adaugă un nou proiect</a>
</div>

<div>
    @foreach (var project in Model.Projects)
    {
        <partial name="_ProjectCard" for="@project" />
    }
</div>
