@page
@model IndexModel
@{
    ViewData["Title"] = "Proiecte";
}

@section Styles {
    <link rel="stylesheet" href="~/css/card.css"/>
}

<h1 class="display-3">Proiecte</h1>

<p>
    <a asp-page="Edit" class="btn btn-link" role="button">Adaugă un nou proiect</a>
</p>

<div>
    @foreach (var project in Model.Projects)
    {
        <partial name="_ProjectCard" for="@project" />
    }
</div>
