@model Models.Company

<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            <a asp-page="Details" asp-route-id="@Model.Id" class="stretched-link">
                @Model.Name
            </a>
        </h2>
    </div>
    @if (Model.LogoId != null)
    {
        <div class="card-logo">
            <img src="~/image/@Model.LogoId" alt="Logo @Model.Name" />
        </div>
    }
</div>
