@page "{id:int?}"
@model EditModel

@if (Model.Id == null)
{
    ViewData["Title"] = "Creează companie";

    <h1>Adaugă o companie nouă</h1>
}
else
{
    ViewData["Title"] = "Editează companie";

    <h1>Editează datele unei companii existente</h1>
}

<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="form-group">
        <label asp-for="Company.Name"></label>
        <input asp-for="Company.Name" type="text" class="form-control" />
        <span asp-validation-for="Company.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Company.Site"></label>
        <input asp-for="Company.Site" class="form-control" />
        <span asp-validation-for="Company.Site" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Logo"></label>
        <input asp-for="Logo" type="file" accept="image/png, image/jpeg" class="form-control-file" />
        <partial name="_LogoFormatWarnings" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Trimite" />
    </div>
</form>
