@page
@model IndexModel
@{
    ViewData["Title"] = "Companii";
}

@section Styles {
    <link rel="stylesheet" href="~/css/card.css"/>

    <style>
        @@media (max-width: 576px) {
            .search-buttons {
                display: flex;
                margin-top: 1rem;
                width: 100%;
                justify-content: flex-end;
            }
        }
    </style>
}

<h1 class="display-3">Companii</h1>

<div class="ml-3 mb-3">
    <a asp-page="Edit">Adaugă o companie nouă</a>
</div>

<form id="searchForm">
    <div class="search-bar form-group form-inline">
        <input class="form-control" type="text" asp-for="SearchQuery" placeholder="Numele companiei" />
        <div class="search-buttons ml-sm-3">
            <input class="btn btn-primary" type="submit" value="Caută" />
            @if (Model.HasSearchQuery)
            {
                <input class="btn btn-secondary ml-2" type="button" onclick="resetSearchQuery(event)" value="Resetează" />
            }
        </div>
    </div>
</form>

<div>
    @foreach (var company in Model.Companies)
    {
        <partial name="_CompanyCard" for="@company" />
    }
</div>

<script>
    function resetSearchQuery(event) {
        window.location = window.location.href.replace(window.location.search, "");
    }
</script>
