@page "{id:int}"
@model DeleteModel

<form method="POST">
    <p>Ești sigur că vrei să ștergi această sponsorizare?</p>
    <div class="ml-3">
        <input type="submit" value="Șterge" class="btn btn-danger" />
    </div>
</form>
