@page
@model IndexModel
@{
    ViewData["Title"] = "Sponsorizări";
}

<h1>Sponsorizări
@if(Model.Company != null)
{
    @: cu compania @Model.Company.Name
}
</h1>

@if(Model.Sponsorships.Count == 0)
{
    <strong>Nu a fost găsită nicio sponsorizare cu compania cerută.</strong>
}
else
{
    @foreach (var sponsorship in Model.Sponsorships)
    {
        <partial name="_Sponsorship" for="@sponsorship"/>
    }
}
