@page "{id}"
@model DetailsModel
@{
    ViewData["Title"] = Model.AppUser.FullName;
}

<h1 class="display-4">@Model.AppUser.FullName</h1>

<p>
    <strong>Email:</strong>
    <partial name="_EmailLink" for="@Model.AppUser.Email" />
</p>

@if (Model.AppUserIsAdmin)
{
    <p>
    <strong>Este administrator</strong>
    @if (Model.UserIsAdmin)
        {
        <form method="POST" asp-page-handler="RemoveRole">
    <input type="submit" class="btn btn-danger" value="Elimină rolul de administrator" />
</form>
        }
    </p>
}
