@page
@model IndexModel
@{
    ViewData["Title"] = "Utilizatori";
}

<h1>Utilizatori</h1>

<ul>
    @foreach (var user in Model.Users)
    {
        <li>
            <a asp-page="Details" asp-route-id="@user.Id">@user.FullName</a> -
            <partial name="_EmailLink" for="@user.Email" />
        </li>
    }
</ul>
