@page "{id:int}"
@model CompanyModel
@{
    ViewData["Title"] = Model.Company.Name;
}

<h1>@Model.Company.Name</h1>
<strong><a href="@Model.Company.Site" target="_blank" rel="noreferrer">Website</a></strong>
