@page
@model IndexModel
@{
    ViewData["Title"] = "Acasă";
}

@section Styles {
    <style>
        .lead .btn-lg {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            flex: 1;
        }
    </style>
}

<div class="jumbotron col-lg-10">
    <h1 class="display-4">Fundraising</h1>
    <p class="lead">Bine ați venit în aplicația dedicată procesului de fundraising!</p>
    <hr class="my-4" />
    <p class="lead d-flex flex-column flex-sm-row justify-content-sm-center">
        <a asp-page="/Companies/Index" class="btn btn-primary btn-lg mb-3" role="button">Companii</a>
        <a asp-page="/Projects/Index" class="btn btn-info btn-lg mb-3" role="button">Proiecte</a>
        <a asp-page="/Sponsorships/Index" class="btn btn-success btn-lg mb-3" role="button">Sponsorizări</a>
    </p>
</div>

@if (Model.UserIsAdmin)
{
    <section>
    <h2>Administrare</h2>
    <a asp-page="/Users/Index" class="btn btn-danger ml-3" role="button">
        Listă utilizatori
    </a>
</section>
}
