@page
@model IndexModel
@{
    ViewData["Title"] = "Acasă";
}

<ul>
    <li><a asp-page="/Companies/Index">Listă companii</a></li>
    <li><a asp-page="/Projects/Index">Listă proiecte</a></li>
    <li><a asp-page="/Users">Listă utilizatori</a></li>
</ul>
