@page
@using Asmi.Fundraising.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Utilizatori";
}

<h1>Utilizatori</h1>

<ul>
    @foreach (var user in userManager.Users)
    {
        <li>@user.Email</li>
    }
</ul>
